
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h4>Name: @Model.Name</h4>
<h4>Id: @Model.Id</h4>
<h4>Semester: @Model.Semester</h4>
<h4>Depertment: @Model.Depertment</h4>
<h4>Mail: @Model.Mail</h4>

